{% extends 'baseback.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_index_back') }}">back to list</a>

    {{ include('categorie/_delete_form_back.html.twig') }}
{% endblock %}
